[Unit]
Description=HTB Presence

[Service]
ExecStart=/usr/local/bin/htb-presence/htb-presence.py
User=pirrapirrapirrapirrapirra

[Install]
WantedBy=default.target


